@keyframes hintkeep-loading-content-animation {
    0% {
        stroke: var(--hk-action-color);
    }

    100% {
        stroke: var(--hk-action-color-hover);
    }
}

@keyframes hintkeep-button-processing-animation {
    0% {
        background: var(--hk-action-color);
    }

    100% {
        background: var(--hk-action-color-hover);
    }
}

div#app {
    --hk-action-color: var(--hk---color-accent);
    --hk-action-color-hover: var(--hk---color-accent-hover);
    --hk-action-color-text: var(--hk---color-accent-text);

    gap: var(--hk---spacing-narrow);

    .prevent-pointer-events {
        pointer-events: none;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin: 0;
    }

    hr {
        width: 100%;
    }

    .danger {
        --hk-action-color: var(--hk---color-danger);
        --hk-action-color-hover: var(--hk---color-danger-hover);
    }

    .neutral {
        --hk-action-color: var(--hk---color-neutral);
        --hk-action-color-hover: var(--hk---color-neutral-hover);
    }

    a,
    a:visited {
        color: var(--hk-action-color);
        text-decoration: underline;

        &:hover {
            color: var(--hk-action-color-hover);
            text-decoration: underline;
        }
    }

    button {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        word-wrap: normal;
        word-break: keep-all;
        white-space: nowrap;

        border: none;
        padding: var(--hk---spacing-narrow);

        &:not(:disabled) {
            color: var(--hk-action-color-text);
            background: linear-gradient(-45deg, var(--hk-action-color), var(--hk-action-color-hover));

            &:hover {
                cursor: pointer;

                background: var(--hk-action-color-hover);
            }

            .loader {
                height: 0;
                visibility: hidden;

                svg {
                    height: 1rem;
                    fill: none;
                    stroke: var(--hk---color-accent-text);
                    stroke-width: 1rem;
                }
            }


            &.processing {
                cursor: progress;

                animation-name: hintkeep-button-processing-animation;
                animation-duration: 0.5s;
                animation-timing-function: ease-in-out;
                animation-iteration-count: infinite;
                animation-direction: alternate-reverse;

                span {
                    height: 0;
                    overflow: hidden;
                }

                .loader {
                    height: 1rem;
                    visibility: visible;
                }
            }
        }

        &:disabled {
            color: var(--hk-action-color-text-disabled);
            background-color: var(--hk-action-color-background-disabled);

            &:hover {
                cursor: not-allowed;

                background-color: var(--hk-action-color-background-disabled);
            }
        }
    }

    table {
        border-collapse: collapse;

        thead tr th {
            padding-bottom: var(--hk---spacing-tiny);
            border-bottom: 1px solid var(--hk---color-text);
        }

        tbody {
            tr:nth-child(2n + 1) {
                background-color: var(--hk---color-background-overlay);
            }

            tr {
                td {
                    padding: var(--hk---spacing-tiny);
                }

                &:hover {
                    background-color: var(--hk---color-accent-hover);

                    td {
                        --hk-action-color: var(--hk---color-background);
                        --hk-action-color-text: var(--hk---color-background);
                        --hk-action-color-hover: var(--hk---color-background-overlay);
                    }
                }
            }
        }

        &.accounts {
            thead tr th {
                width: 33%;

                &:nth-child(4) {
                    width: 4rem;
                }
            }

            tbody tr td:nth-child(4) {
                text-align: center;
            }
        }

        &.account-hints {
            thead tr th {
                &:nth-child(1) {
                    width: 100%;
                    text-align: left;
                }

                &:nth-child(2) {
                    white-space: nowrap;
                    text-align: center;
                }
            }

            tbody tr td {
                &:nth-child(2) {
                    white-space: nowrap;
                    text-align: center;
                }
            }
        }
    }

    form {
        display: flex;
        flex-direction: column;
        gap: inherit;

        .form-field-group {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: inherit;
        }

        div.form-field {
            flex: 1 1 0;

            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: inherit;

            label {
                vertical-align: top;

                padding: var(--hk---spacing-tiny) 0;
                width: 6rem;
            }

            div.input-container {
                flex: 1 1 0;
                min-width: 8rem;

                display: flex;
                flex-direction: column;

                .input-container-error {
                    font-size: 0.85rem;
                    color: var(--hk---color-danger);
                }

                input,
                textarea {
                    flex: 1 1 auto;

                    outline: 1px solid var(--hk---color-text);
                    border: none;
                    border-radius: 0;
                    padding: var(--hk---spacing-tiny);
                    color: var(--hk---color-text);
                    font-size: 1rem;

                    &:not(:disabled),
                    &:not([disabled]) {
                        outline: 1px solid var(--hk---color-text);
                        background-color: var(--hk---color-background);

                        &:not(.invalid) {
                            &:focus {
                                outline-color: var(--hk---color-accent);
                            }

                            &:hover,
                            &:focus:hover {
                                outline-color: var(--hk---color-accent-hover);
                            }
                        }

                        &.invalid {
                            outline-color: var(--hk---color-danger);

                            &:hover,
                            &:focus:hover {
                                outline-color: var(--hk---color-danger-hover);
                            }
                        }
                    }

                    &:disabled,
                    &[disabled] {
                        outline-color: var(--hk---color-background);
                        color: var(--hk---color-text);
                        background-color: var(--hk---color-background-app);
                    }
                }

                input[type="checkbox"] {
                    outline-width: 0;
                    align-self: flex-start;
                }

                textarea {
                    resize: vertical;
                    min-height: 3rem;
                    font-family: var(--hk---font-family);
                }
            }
        }
    }

    >.confirmation-prompt {
        position: absolute;
        inset: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background-color: var(--hk---color-background-overlay);

        >.confirmation-prompt-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            padding: var(--hk---spacing-normal);

            gap: var(--hk---spacing-narrow);

            >.confirmation-prompt-actions {
                display: flex;
                flex-direction: row;
                align-items: center;

                gap: var(--hk---spacing-narrow);
            }
        }
    }

    >header {
        position: sticky;
        top: 0;
    }

    >nav {
        display: flex;
        flex-direction: row;
        gap: inherit;
    }

    >main.content {
        display: flex;
        flex-direction: column;
        gap: inherit;

        svg.loading-content-loader {
            margin: var(--hk---spacing-wide);
            width: 20rem;

            align-self: center;

            fill: none;
            stroke-width: var(--hk---spacing-tiny);

            animation-name: hintkeep-loading-content-animation;
            animation-duration: 0.5s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
        }
    }

    .toolbar {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: inherit;
    }

    >aside.global-notifications {
        position: absolute;
        inset: 0;

        display: flex;
        flex-direction: column;
        align-items: flex-end;

        margin: 0 auto;
        padding: var(--hk---spacing-normal);
        width: calc(100% - 2 * var(--hk---spacing-normal));
        max-width: 800px;

        gap: var(--hk---spacing-normal);

        pointer-events: none;

        >div.global-notification-item {
            border-width: 1px;
            border-style: solid;
            border-color: var(--hk---color-text);
            padding: var(--hk---spacing-narrow);
            background-color: var(--hk---color-background);

            display: flex;
            flex-direction: column;
            align-items: flex-end;

            gap: var(--hk---spacing-narrow);

            pointer-events: all;

            &.error {
                color: var(--hk---color-danger);
                border-color: var(--hk---color-danger);
            }
        }
    }
}