<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <%= htmlWebpackPlugin.tags.headTags %>
        <title>
            <%= htmlWebpackPlugin.options.title %>
        </title>
</head>

<body>
    <div class="d-flex flex-fill h-100">
        <div class="app m-3 border d-flex flex-column flex-fill">
            <div class="app-banner">
                <div class="d-flex flex-row align-items-center app-banner-content">
                    <div class="mx-auto app-header">- HintKeep -</div>
                </div>
            </div>
            <div class="app-content d-flex flex-fill text-justify">
                <div class="d-flex flex-column flex-fill">
                    <div class="mx-3">
                        <h1 class="text-center">Sign in</h1>
                        <hr>
                    </div>
                    <div class="flex-fill">
                        <div id="api" class="mx-3"></div>
                    </div>
                </div>
            </div>
            <div class="app-banner">
                <div class="d-flex flex-row align-items-center app-banner-content">
                    <div class="mx-auto app-footer">HintKeep - Store hints, not passwords.</div>
                </div>
            </div>
        </div>
    </div>

    <script>
        var root = $('#api');
        root.find('.intro').remove();
        root.find('.divider').remove();
        root.find('.buttons').addClass('mt-3');
        root.find('.error').addClass('invalid-feedback');

        var entryItems = root.find('.entry-item');
        entryItems.find('label').addClass('form-label');
        entryItems.find('input').addClass('form-control');

        var usernameElement = entryItems.eq(0);
        usernameElement.append(usernameElement.children().eq(1));

        var passwordElement = entryItems.eq(1);
        passwordElement.addClass('mt-3');
        passwordElement.append(passwordElement.children().eq(1));

        root.find('button[type="submit"]').addClass('btn btn-primary');

        root
            .append($(document.createElement('ul')).addClass('mt-3')
                .append($(document.createElement('li'))
                    .append(root.find('.create a').text('Create an account'))));

        root.find('.create').remove();
    </script>
</body>

</html>